body * {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background: #FFFFFF;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #373A3C;
}
.logo {
    font-family: 'Lobster', cursive;
    font-size: 37px;
}
.boldtext{
    font-weight: 700;
}
.smalltextsize{
    font-size: 16px;
}